{% load static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="favicon.ico"/>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!--bootstrap-->
    <link href="{% static 'users/css/bootstrap.min.css' %}" rel="stylesheet"/>
    {#    <script src="{% static 'users/js/bootstrap/bootstrap.min.js' %}"></script>#}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="js/bootstrap/html5shiv.min.js"></script>
      <script src="js/bootstrap/respond.min.js"></script>
    <![endif]-->
    <!--font-awesome-->
    <link href="{% static 'users/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'users/css/pace/dataurl.css' %}" rel="stylesheet"/>
    <script src="{% static 'users/js/pace/pace.min.js' %}"></script>
    <!--jquery.hammer-->
    <script src="{% static 'users/js/jquery.hammer/hammer.min.js' %}"></script>
    <script src="{% static 'users/js/jquery.hammer/jquery.hammer.js' %}"></script>
    <script src="{% static 'users/js/jquery.scrolltopcontrol/scrolltopcontrol.js' %}" type="text/javascript"></script>
    <script src="{% static 'users/js/jquery.extend.js' %}" type="text/javascript"></script>
    <link href="{% static 'users/css/default.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'users/js/default.js' %}" type="text/javascript"></script>
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css"/>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    {% block header %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle show pull-left" data-target="sidebar">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'users:home' %}">Tom's Grooming Booking</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'users:info' %}">Edit Personal Info</a></li>
                <li><a href="{% url 'users:doginfo' %}">Add Your Pet</a></li>
                <li><a href="{% url 'users:petslist' %}">Edit Pets Info</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false"><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'users:userLogout' %}?next={{ request.path }}"><i
                                class="fa fa-sign-out fa-fw"></i>&nbsp;Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid all">
    <div class="sidebar">
        <ul class="nav">

            <li><a href="{% url 'users:home' %}">Home</a></li>
{#            <li><a href="{% url 'users:schedule' %}">Available Schedule</a></li>#}
            <li class="has-sub">
                <a href="javascript:void(0);"><span>Groom Your Dog</span><i
                        class="fa fa-caret-right fa-fw pull-right"></i></a>
                <ul class="sub-menu">
                    <li><a href="{% url 'users:mybook' %}"><i class="fa fa-circle-o fa-fw"></i>&nbsp;My Appointments</a>
                    </li>
                    <li><a href="{% url 'users:availbleschedule' %}"><i class="fa fa-circle-o fa-fw"></i>&nbsp;Available
                        Schedule</a></li>
                    <li><a href="{% url 'users:booking' %}"><i class="fa fa-circle-o fa-fw"></i>&nbsp;Make an Appointment</a></li>
                </ul>
            </li>
        </ul>
    </div>

    {% block content %}{% endblock %}
    <!--end-->
</div>
</body>
</html>
