{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    </br>
    </br>
    </br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2>Your booking is successful! You will get a confirm email.</h2></div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <label class="col-sm-4">You have booked for:</label>
        <div class="col-sm-4">
            Reiny
        </div>
        <div class="col-sm-2"></div>
    </div>
    </br>
    </br>

    <div class="row">
        <div class="col-sm-2">
        </div>
        <label class="col-sm-4">Start at: </label>
        <div class="col-sm-4">
            {{ starttime }}
        </div>
        <div class="col-sm-2"></div>
    </div>
    </br>
    </br>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <label class="col-sm-4">To: </label>
        <div class="col-sm-4">
            {{ endtime }}
        </div>
        <div class="col-sm-2"></div>
    </div>

    </br>
    </br>

    <div class="form-group row">
        <div class="col-sm-2">
        </div>
        <label for="msg" class="col-sm-4 col-form-label ">Message to the groomer</label>
        <div class="col-sm-4">
            {{ msg }}
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    </br>
    </br>
    <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <a href="{% url 'users:booking' %}"><button type="button" class="btn btn-info"> Booking More</button></a>
        </div>
        <div class="col-sm-2">
            <a href="{% url 'users:mybook' %}"><button type="button" class="btn btn-success">My Appointments</button></a>
        </div>

        <div class="col-sm-4"></div>

    </div>

{% endblock %}
