{% extends 'users/base.html' %}
{% load static %}

{% block header %}
    <!--
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}"/>
    -->

    <!--<script>
        $(function () {
            $("#id_starttime").datepicker();
            $("#id_endtime").datepicker();
        });
    </script>
    -->

    <link href="{% static 'users/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{% static 'users/js/jquery-1.8.3.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'users/js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'users/js/bootstrap-datetimepicker.fr.js' %}"
            charset="UTF-8"></script>
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
    </script>

    .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
    }
    .shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
    }

{% endblock %}
{% block content %}
    <form action="{% url 'users:booking' %}" method="post">
        {% csrf_token %}
        <!--{{ form.date }} -->

        {#        <p>Date: <input name='date' type="text" id="id_starttime"></p>#}
        {#        <p>Date: <input name='date' type="text" id="id_starttime"></p>#}
        <!-- The rest of my form -->
        <h2>Appointments Form</h2>
        <br>
        <br>



        <div class="form-group">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label for="dog">Select ur dog:</label>
                </div>
                <div class="col-md-5">
                    <select class="form-control" name="dog">
                        {% for dog in dog_list %}
                            <option>{{ dog.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>


            <div class="control-group">
                 <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label class="control-label">DateTime Picking</label></div>
                <div class="col-md-5">
                    <div class="controls input-append date form_datetime" data-date="1979-09-16T05:25:07Z"
                         data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                        <input size="16" type="text" value="" readonly>
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <input type="hidden" id="dtp_input1" value=""/><br/>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
<!--
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3"><label>Start Time: </label></div>
            <div class="col-md-5">
                <input name='starttime' type="text" class="form-control" id="id_starttime">
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3"><label>End Time: </label></div>
            <div class="col-md-5">
                <input name='endtime' type="text" class="form-control" id="id_endtime">
            </div>
            <div class="col-md-2"></div>
        </div>
-->
        <br>
        <br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group shadow-textarea">
                    <label for="id_msg">Leave a message for groomer:</label>
                    <textarea class="form-control z-depth-1" id="id_msg" name="msg" rows="3"
                              placeholder="Write something here..."></textarea>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" value="submit">Submit</button>
                {#        <input type="submit" value="submit"/>#}
                <div class="col-md-4"></div>
            </div>
        </div>


    </form>
{% endblock content %}
<!-- The rest of my form -->
<input type="submit" value="submit"/>