{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    </br>
    </br>
    </br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2>Your booking is successful! You will get a confirm email.</h2></div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <label class="col-sm-4">You have booked for:</label>
        <div class="col-sm-4">
            Reiny
        </div>
        <div class="col-sm-2"></div>
    </div>
    </br>
    </br>

    <div class="row">
        <div class="col-sm-2">
        </div>
        <label class="col-sm-4">When: </label>
        <div class="col-sm-4">
            4th May
        </div>
        <div class="col-sm-2"></div>
    </div>
    </br>
    </br>

    <div class="form-group row">
        <div class="col-sm-2">
        </div>
        <label for="msg" class="col-sm-4 col-form-label ">Message to the groomer</label>
        <div class="col-sm-4">

                    Please take some snacks for her. Thanks.
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    </br>
    </br>
    <div class="form-group row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-success">OK</button>
        </div>

        <div class="col-sm-5"></div>

    </div>

{% endblock %}
