{% extends 'users/base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css"/>
    <script>
        $(function () {
            $("#id_starttime").datepicker();
            $("#id_endtime").datepicker();
        });
    </script>

    .shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
    }
    .shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
    }

{% endblock %}
{% block content %}
    <form action="{% url 'users:booking' %}" method="post">
        {% csrf_token %}
        <!--{{ form.date }} -->

        {#        <p>Date: <input name='date' type="text" id="id_starttime"></p>#}
        {#        <p>Date: <input name='date' type="text" id="id_starttime"></p>#}
        <!-- The rest of my form -->
        <h2>Appointments Form</h2>
        <br>
        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label for="sel1">Select ur dog:</label>
                </div>
                <div class="col-md-5">
                    <select class="form-control" id="id_dog">
                        {% for dog in dog_list %}
                            <option>{{ dog.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3"><label>Start Time: </label></div>
            <div class="col-md-5">
                <input name='date' type="text" class="form-control" id="id_starttime">
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3"><label>End Time: </label></div>
            <div class="col-md-5">
                <input name='date' type="text" class="form-control" id="id_endtime">
            </div>
            <div class="col-md-2"></div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group shadow-textarea">
                    <label for="id_msg">Leave a message for groomer:</label>
                    <textarea class="form-control z-depth-1" id="id_msg" rows="3"
                              placeholder="Write something here..."></textarea>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" value="submit">Submit</button>
                {#        <input type="submit" value="submit"/>#}
                <div class="col-md-4"></div>
            </div>
        </div>


    </form>
{% endblock content %}
<!-- The rest of my form -->
<input type="submit" value="submit"/>