{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    {% if appointmentsList %}
        <h2>Select the appointment you would like cancel.</h2>

        <br>
        <br>
        <br>
        {% for app in appointmentsList %}
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    <div class="form-group shadow-textarea">
                        <label class="form-control" name="name" type="text" readonly>
                            {{ app.dog.name }}
                        </label>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="form-control" name="name" type="text" readonly>
                        {{ app.starttime }}-{{ app.endtime }}
                    </label>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'users:cancelconfirm' app.pk %}">
                    <button type="button" class="btn btn-danger" value="submit">Cancel</button>
                    </a>
                </div>
                <div class="col-md-1"></div>

            </div>
            <br>
            <br>
        {% endfor %}
    {% else %}
        <h2>You have no appointments yet.</h2>
    {% endif %}
{% endblock content %}
