    <h2>Booking Confirm</h2>
    </br>
    </br>
    </br>

    {% csrf_token %}
    <form>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <label class="col-form-label col-sm-4">Which dog do you want to book for?</label>
                <div class="col-sm-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                               checked>
                        <label class="form-check-label" for="gridRadios1">
                            Snow
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Reiny
                        </label>
                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                        <label class="form-check-label" for="gridRadios3">
                            Bobby
                        </label>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            </br>
            </br>

            <div class="form-group row">
                <div class="col-sm-2">
                </div>
                <label for="msg" class="col-sm-4 col-form-label ">Leave a message to the groomer</label>
                <div class="col-sm-4">
                <textarea class="form-control" rows="3" type="text" id="msg"
                          placeholder="Message(no more than 140 words)"></textarea>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </br>
        </br>
            <div class="form-group row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-success">Confirm</button>
                </div>

                <div class="col-sm-5"></div>

            </div>
        </fieldset>
    </form>